<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    {{> header}}
    <p>Testaan automaattista pushausta Herokuun.</p>
    <p>{{screamIt portfolioMessage}}</p>

    {{> footer}}
  </body>
</html>
